:root {
  --background-color: rgb(230, 230, 230);
  --text-color: rgb(79, 79, 76);
  --emphasis-color: rgb(53, 53, 53);
  --accent-color: rgb(250, 152, 72);
  --code-text-color: rgb(75, 62, 51);
  --code-background-color: rgb(202, 202, 202);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  text-emphasis-color: var(--emphasis-color);
}

/* Banner */
.banner-menu {
  padding: 0em;
}

.banner-menu li {
  margin-top: 1.5em;
  display: inline-block;
  text-indent: 3em;
}

.banner-link {
  text-decoration: none;
  font-size: 1.5em;
  color: var(--text-color);
  font-weight: bold;
}

.banner-link:hover {
  color: var(--accent-color);
}

.title {
  color: var(--accent-color);
  text-align: left;
  font-size: 2.5em;
  margin: 2em 2em 2em 2.5em;
}

/* About */
.about-content {
  text-align: left;
  max-width: 50em;
  margin-left: 5em;
  margin-top: 5em;
}

/* Home */
.latest-posts {
  font-size: 1.5em;
  margin-top: 2.5em;
  margin-left: 3.5em;
}

.post-list {
  text-align: left;
  margin-top: 2.5em;
  margin-left: 3em;
}

.post-list ul li {
  list-style-type: none;
}

/* Post List Post */
.post-title-div {
  margin-top: 1.5em;
  padding-left: 1.5em;
}

.post-title-link {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.25em;
}

.post-title-link:hover {
  color: var(--accent-color)
}

/* Post */
.post-content {
  text-align: left;
  max-width: 40em;
  margin: 0em 10em 0em 10em;
}

.post-content code {
  background-color: var(--code-background-color);
  color: var(--code-text-color);
  border-radius: 0.5em;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

@media (max-width: 750px) {
  .post-content {
    margin-right: 1em;
    margin-left: 1em;
  }

  .title {
    text-align: center;
    font-size: 2.5em;
    margin: 1em 0em 0em 0em;
  }

  .banner-menu li {
    margin-top: 1.5em;
    text-indent: 0em;
  }

  .latest-posts {
    font-size: 1.5em;
    margin-top: 2.5em;
    margin-left: 2.5em;
  }

  .post-list {
    text-align: left;
    margin-top: 2.5em;
    margin-left: 0em;
  }
}